/* *{
    border: 1px solid black;
} */
/* for the name of game  */
h1{
  font-family: 'Playfair Display', serif;
  text-align: center;


}
.theTop{
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  margin-bottom: 50px;
}

body{
  background: rgb(238, 240, 186);
}
.center {
display: flex;
justify-content: space-around;
}
/* <!-- start from her to make Beehive --> */
.big_table{
    height: 375px;
      
display: flex;
flex-direction: column;

margin-top: 0%;
}
.big_table .row1,.row2,.row3,.row4,.row5 ,.row6 ,.row7{
position: relative;
/* width: 707px; */
/* margin-top: -20px; */
margin-top: -19px;
display: flex;
}
.row2 , .row4 ,.row6{
    left: -28px;}


.hexagon {
    position: relative;
    width: 55px; 
    height: 31.75px;
    background-color: #64C7CC;
    margin: 15.88px 0;
    /* box-shadow: 3px 4px black; */
  }
  
  .hexagon:before,
  .hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 27.5px solid transparent;
    border-right: 27.5px solid transparent;

  }
  
  .hexagon:before {
    bottom: 100%;
    border-bottom: 15.88px solid #64C7CC;
  }
  
  .hexagon:after {
    top: 100%;
    width: 0;
    border-top: 15.88px solid #64C7CC;
  }
  .margen {
      margin: 3px;
      
  }
 .row1 .hexagon {
    background-color: rgb(255, 0, 0);

  }
   .row1 .hexagon:after{
    top: 100%;
    width: 0;
    border-top: 15.88px solid rgb(255, 0, 0);

  }
  .row1 .hexagon:before{
    bottom: 100%;
    border-bottom: 15.88px solid rgb(255, 0, 0);
   

  }
  /* to make the red row above */
  .row7 .hexagon {
    background-color: rgb(255, 0, 0);

  }
   .row7 .hexagon:after{
    top: 100%;
    width: 0;
    border-top: 15.88px solid  rgb(255, 0, 0);

  }
  .row7 .hexagon:before{
    bottom: 100%;
    border-bottom: 15.88px solid rgb(255, 0, 0);
   

  }
  /* to make green riht */
  
  #last{
background-color: rgb(0, 255, 0);
  }

  #last:after{
 top: 100%;
 width: 0;
 border-top: 15.88px solid rgb(0, 255, 0);
}
#last:before{
 bottom: 100%;
 border-bottom: 15.88px solid rgb(0, 255, 0);


}
/* To change the color to red */
.red {
    position: relative;
    width: 55px; 
    height: 31.75px;
    background-color: rgb(255, 0, 0);
    margin: 15.88px 0;
  }
  
  .red:before,
  .red:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 27.5px solid transparent;
    border-right: 27.5px solid transparent;
  }
  
  .red:before {
    bottom: 100%;
    border-bottom: 15.88px solid rgb(255, 3, 3);
  }
  
  .red:after {
    top: 100%;
    width: 0;
    border-top: 15.88px solid rgb(255, 0, 0);
  }
  /* To change the color to green */
  .green {
    position: relative;
    width: 55px; 
    height: 31.75px;
    background-color:  rgb(0, 255, 3);
    margin: 15.88px 0;
  }
  
  .green:before,
  .green:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 27.5px solid transparent;
    border-right: 27.5px solid transparent;
  }
  
  .green:before {
    bottom: 100%;
    border-bottom: 15.88px solid rgb(0, 255, 3);
  }
  
  .green:after {
    top: 100%;
    width: 0;
    border-top: 15.88px solid  rgb(0, 255, 3);
  }
  
  h2 {
    position: relative;
  }
  #redplayer{
    /* top: 246px;
    right: -69px;
   */
    width: 190px; 
    color: red;

  }
  #greenplayer{
    /* top: 199px;
    right: -954px; */
    text-align: center;
    color: green;
    width: 190px;
}
  
  img {
   margin-bottom: 50px;
  
    width: 146px;
    height: 131px;
  }
  /* reset button */
  #button{
  
   
    height: 23px;
    width: 72px;
    background: rgb(153, 142, 149);
}
  
.Player1 {
  width: 90px;
  /* position: relative; */
  /* left: 108px;
  top: -326px; */
}

.Player2 {
  width: 90px;
  /* position: relative;
  left: 1026px;
  top: -371px; */
  
}
  .P1{
    background-color: rgb(238, 240, 186);
      }
    
      .P1:after{
     top: 100%;
     width: 0;
     border-top: 15.88px solid rgb(238, 240, 186);
    }
    .P1:before{
     bottom: 100%;
     border-bottom: 15.88px solid rgb(238, 240, 186);
    
    
    }
 
